<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="overnight-logger">
      <ion-icon name="bed-outline"></ion-icon>
      Log Overnight Sleep
    </ion-tab-button>
    <ion-tab-button tab="daytime-logger">
      <ion-icon name="partly-sunny-outline"></ion-icon>
      Log Sleepiness
    </ion-tab-button>
    <ion-tab-button tab="data">
      <ion-icon name="analytics-outline"></ion-icon>
      Data
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
